@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	outline: none;
	z-index: 10;
}

body {
	background: #F5F5F5;
}
